body 
{
	font-family: "Tahoma";
    background-color: lightblue;
}

/*Formatting for div*/
div
{	padding:20px;
	margin-top:30px;
	height:1500px;
}

/*Heading colour*/
h1, h2 
{
	color: mediumseagreen;
}

table, th, td
{
    border: 1px solid gray;
    border-collapse: collapse;
}

th, td 
{
    padding: 15px;
}

/*Table header colour*/
th 
{
    background-color: tomato;
    color: white;
}

/*Table hover colour*/
tr:hover 
{
	background-color: tomato;
}

/*Navigation bar styling*/
ul#navigationBar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
	position: fixed;
    top: 0;
    width: 100%;
}

/*Horizontal navigation bar*/
ul#navigationBar li 
{
    float: left;
}

/*Navigation bar styling*/
ul#navigationBar li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*Navigation bar hover colour*/
ul#navigationBar li a:hover 
{
    background-color: black;
}

/*Navigation bar home block colour*/
.active 
{
    background-color: limegreen;
}