body 
{
	font-family: "Tahoma";
    background-color: lightblue;
} /*Formatting for body*/

div
{	padding:20px;
	margin-top:30px;
	height:1500px;
} /*Formatting for div*/

h1, h2 
{
	color: mediumseagreen;
} /*Heading colour*/

table, th, td
{
    border: 1px solid gray;
    border-collapse: collapse;
} /*Table formatting*/

th, td 
{
    padding: 15px;
} /*Table formatting*/

th 
{
    background-color: tomato;
    color: white;
} /*Table header colour*/

tr:hover 
{
	background-color: tomato;
} /*Table hover colour*/

ul#navigationBar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
	position: fixed;
    top: 0;
    width: 100%;
} /*Navigation bar styling*/

ul#navigationBar li 
{
    float: left;
} /*Horizontal navigation bar*/

ul#navigationBar li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} /*Navigation bar styling*/

ul#navigationBar li a:hover 
{
    background-color: black;
} /*Navigation bar hover colour*/

.active 
{
    background-color: limegreen;
} /*Navigation bar home block colour*/